
*.vsidx
*.vsidx
.vs/RPG/v17/.suo
*.vsidx
*.vsidx
.vs/RPG/v17/.suo
.vs/RPG/v17/DocumentLayout.backup.json
.vs/RPG/v17/DocumentLayout.json
.vs/RPG/v17/DocumentLayout.json
.vs/RPG/v17/.suo
.vs/RPG/v17/DocumentLayout.backup.json
